<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/all.min.css">
    <link rel="stylesheet" href="CSS/normalize.css">
     <link rel="stylesheet" href="CSS/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Work+Sans&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <div class="page">
        <div class="side">
            <h3>Elpop</h3>
            <ul>
                <li class="active" >
                    <a href="index.html">
                        <i id="true" class="fa-solid fa-check"></i>
                        <span>Active Departments</span>
                    </a>
                </li>
                <li>
                    <a href="setting.html">
                        <i id="false" class="fa-solid fa-circle-xmark"></i>
                        <span> Not Active </span>
                    </a>
                </li>
                <li>
                    <a  href="profile.html">
                        <i class="fa-solid fa-user"></i>
                        <span>Students</span>
                    </a>
                </li>
                <li>
                    <a  href="project.html">
                       <i class="fa-solid fa-diagram-project"></i>
                        <span>Instructors</span>
                    </a>
                </li>
                <li>
                    <a  href="course.html">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <span>Courses</span>
                    </a>
                </li>
                <li>
                    <a  href="friend.html">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Register</span>
                    </a>
                </li>
                <li>
                    <a  href="file.html">
                       <i class="fa-solid fa-right-to-bracket"></i>
                        <span>Login</span>
                    </a>
                </li>
                <li>
                    <a  href="plan.html">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <!-- start header -->
             <div class="head">
                <div class="search">
                    <input class="input" type="search" placeholder="Type A Keyword">
                </div>
                <div class="icons">
                    <div class="notification">
                         <i class="fa-regular fa-bell"></i>
                    </div>                 
                    <img src="./images/abdallah.jpeg" alt="">
                    <span class="hello">Welcom ()</span>
                </div>
             </div>
            <!-- end header -->
             <h1 class="main-heading">Dashboard</h1>
             
             
        </div>
    </div>
</body>
</html>