@using FirstDemo.ViewModel
@model ChangePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link href="/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/layout/style.css">
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Work+Sans&display=swap"
          rel="stylesheet" />
    <title>Change Passwoed</title>
</head>
<body>
    <div class="discount" id="discount">
        <div class="formation">
            <div class="content">
                <h2>Change Password</h2>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input class="input" type="password" placeholder="Current Password" asp-for="CurrentPassword" />
                    <span asp-validation-for="CurrentPassword"></span>

                    <input class="input" type="password" placeholder="New Password" asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword"></span>

                    <input class="input" asp-for="ConfirmPassword" placeholder="Confirm New Password" />
                     <span asp-validation-for="ConfirmPassword"></span>

                    <input type="submit" class="signup" value="Submit">
                </form>
            </div>
        </div>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
