@model Department
@{
    Layout = "_Layout2";
    ViewBag.Title = "Degrees";
    var selectedCrs = ViewBag.selectedCrs as Course;
    var degreeStu = ViewBag.Degree as List<StudentCourse>;
}


    <div class="container mt-4">
        <div class="text-center text-capitalize fs-2 fw-bold">'@selectedCrs.CrsName' (Of 100%)</div>
       
        <form id="degree-post" method="post">
            @foreach(var stu in Model.Students)
            {
                @if (Model?.Students != null && Model.Students.Any())
                {
                    var currentDegree = degreeStu?
                    .FirstOrDefault(d => d.StuId == stu.Id && d.CrsId == selectedCrs?.CrsId)?.Degree;
                    <div class="content">
                        <div class="box">

                            <label for="stu">@stu.Name</label>
                            <input type="text" id="stu" name="degree.@stu.Id" value="@currentDegree" />
                        </div>   
                    </div>
                   
                    
                }else
                {
                    <div class="alert-danger fs-2">No Student In This Department</div>
                }

            }
            <a id="degree-btn" class="btn btn-primary mt-2 ">Submit</a>
        <a asp-action="ShowCourseByDept" asp-controller="DeptCourse" asp-route-id="@Model.DeptId" class="btn btn-outline-secondary mt-2">Back</a>
        </form>
       
    </div>
